/* #finder-body {
    height: 30vh;
} */
input.btn{
    font-size: 18px!important;
    font-weight: bold!important;
}

input.btn:hover{
    color: var(--dark-color);
    background: #fff;
    transition: background 0.2s ease!important;
}

input {
    padding: 0.7rem !important;
    border-radius: 4px;
}

input[type="text"]:focus {
    outline: 0 !important;
    color: #212529;
    background-color: #fff;
    border-color: #747474;
    box-shadow: 0 0 0 0.25rem #cccccc9d !important;
}

#card {
    padding: 1rem;
    background: white;
    border-radius: 7px;
    height: 280px;
    max-height: 280px;
    padding-bottom: 0.5rem!important;
    box-shadow: 0 .125rem .25rem rgba(194, 192, 192, 0.75) !important;
}

#card img{
    height: 150px;
    width: 100%!important;
    border-radius: 4px;
}

@media(max-width: 991px) {
    #card {
        height: 313px;
        max-height: 313px;
    }
    #card img{
        height: 185px;
    }
}

#card h3::first-letter{
    text-transform: capitalize;
}

#card a.btn{
    margin: 0!important;
    margin-top: 15px!important;
    width: 100%!important;
    border-radius: 7px;
    top: 0!important;
}

@media(max-width: 500px) {
    .container{
        padding: 0 1rem!important;
    }
}

/*------------------------
    # Contact Page
------------------------*/
#contact-page .row{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
}

#contact-page .details-box{
    height: 450px;
    max-height: 450px;
    width: 40%;
    border-radius: 7px;
    color: white;
    background: #191919;
}

#contact-page .icons-box>span{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

#contact-page .icons-box span img{
    height: 20px;
    width: 20px;
}

/*------------------------
    # Footer
------------------------*/
#footer {
    /* position: absolute;
    bottom: auto; */
    margin-top: 20vh;
    width: 100%;
    background: #000;
    color: #fff;
    padding: 2rem 1rem;
}

#footer .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#footer .top-text {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    border-bottom: 2px solid #fff;
    margin-bottom: 10px;
}

#footer .top-text .logo{
    height: 50px;
    width: 50px;
    border-radius: 5px;
}

#footer .top-text h1{
    display: inline-flex;
}

#footer .container ul{
    width: 30%;
    display: flex;
    flex-direction: column;
}

#footer ul img{
    height: 15px;
    width: 15px;
    margin-right: 10px;
}

#footer ul li{
    display: flex;
    align-items: center;
    cursor: pointer;
}

#footer ul li a{
    color: #fff;
}

@media(max-width: 876px) {
    #footer .container ul{
        width: 20%;
    }
}

@media(max-width: 657px) {
    #footer .container{
        row-gap: 1.5rem;
    }

    #footer .container ul{
        width: 50%;
    }
}

@media(max-width: 520px) {
    #footer .container ul{
        width: 100%;
    }
}